

<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a
        class="navbar-brand col-md-1"
        href="/">
        <img
          src="{{ asset('images/id_no_logo.png', 'media') }}"
          alt="ID-No Logo" /></a>
      </a>
      <img
        class="margin-left-168px anniversary_5"
        src="{{ asset('images/JubiläumsLogo_IN.svg', 'media') }}"
        alt="Jubilaeumslogo" />
    </div>

    <button class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div
      class="collapse navbar-collapse"
      id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            role="button"
            aria-haspopup="true"
            aria-expanded="true"
            data-toggle="dropdown"
            data-target="#"
            href="{{ path('idno_standard_index') }}">ID-No.com</a>

          <ul class="dropdown-menu m1">
            <li><a class="active" href="#ueber_idno" tkey="about"></a></li>
            <li><a href="#so_funktionierts" tkey="works"></a></li>
            <li><a href="#testimonials">Testimonials</a></li>
            <li><a href="unternehmen" tkey="company"></a></li>
            <li><a href="code-no-group">Group</a></li>
            <li><a href="presse" tkey="press"></a></li>
            <li><a href="#referenzen" tkey="references"></a></li>
            <li><a href="https://www.code-no.shop/sie-sind-firmenkunde" tkey="bussiness_clients">Firmenkunden</a>
            </li>
          </ul>
        </li>

        <li>
          <a
            class="nav-link"
            href="https://www.code-no.shop/sos-id-chip/"
            target="_blank">Shop</a>
        </li>

        <li>
          <a
            class="nav-link"
            href="#">Login</a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            href="{{ path('idno_standard_index', {_locale: 'en'}) }}">English</a>
        </li>
      </ul>
    </div>
  </div>
</nav>