{% extends 'default.html.twig' %}
{% block title %}{{ 'Unternehmen'|trans }}{% endblock %}

{# Content #}
{% block content %}

	{# Intro #}
	<div class="container">
		<div class="row mt-3">
			<div class="col-12">
				<h1 class="text-success">{{ idno }}</h1>
			</div>
		</div>
	</div>
{% endblock %}