@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~bootstrap-table";
@import "bootstrap-select/bootstrap-select";
@import "~leaflet";

@import "~placeholder-loading/src/scss/placeholder-loading";
@import "fonts";

/*
 * general
 */

h1, h2, h3, h4, h5 {
  color: $green;
}

/*
body {
  opacity: 0;
  transition:opacity 1s;
  -webkit-transition: opacity 1s;
}
*/

/* a */
a,
a:link,
a:hover,
a:active,
a:visited {
  color: $green;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* anchor */
a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

/* button */
a.btn-outline-dark,
a.btn-outline-dark:link,
a.btn-outline-dark:visited,
a.btn-outline-dark:active {
  color: $dark;
  text-decoration: none;
}
a.btn-outline-dark:hover {
  color: $light;
  text-decoration: none;
}

button.btn-primary {
  color: $light;
}

.pointer {
  cursor: pointer;
}

/*
 * forms
 */
label.required::after {
  position: absolute;
  content: "*";
  vertical-align: middle;
  display: inline-block;
  font-family: sans-serif;
  font-size: 14px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 2px;
  color: $danger;
}

label.invalid-feedback-inline {
  position: absolute !important;
  padding-right: 2rem !important;
  text-align: right !important;
  color: $danger;
}

/* navbar */
header nav {
  z-index:1021;
}

.navbar-header img {
  max-width: 186px;
  margin-left: 11px;
}

img.anniversary_5  {
  height: 61px !important;
}


/* carousel */
.carousel-caption {
  bottom: 4%;
  left: 0;
  right: 0;
}
.carousel-control-prev, .carousel-control-next {
  width: 10%;
}

img.ref-logo {
  -webkit-filter: grayscale(100%) brightness(2);
  -moz-filter: grayscale(100%) brightness(2);
  -ms-filter: grayscale(100%) brightness(2);
  -o-filter: grayscale(100%) brightness(2);
  filter: grayscale(100%) brightness(1);
  transition: filter .3s ease-in-out;
}
img.ref-logo:hover {
  filter: none;
}


/* tables */
.ph-item,
.ph-picture {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
div.card-view {
  padding: 3px 0px;
}


/* footer */
footer a {
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

img.socialmedia_icon {
  height: 45px;
  margin-right: 20px;
  margin-bottom: 20px;
}
img.socialmedia_icon_row {
  height: 55px;
}
.footer-mobile {
  img.socialmedia_icon {
    margin: 20px 10px 0 10px;
  }
}


/*
 * ids
 */

#lblIdNo {
  text-align: center;
  color: $primary;
  font-size: 1.2em;
  padding: 0.75rem;
  -webkit-text-stroke: 1px $primary;
}
/*
#fldIdNo ~ label {
  transform-origin: 0 0;
}
#fldIdNo:focus ~ label {
  transform: scale(0.85) translateY(-0.5rem) translateX(1rem);
}
*/
#fldIdNo {
  text-align: center;
  font-size: 1.2em;
  -webkit-text-stroke: 1px var(--bs-body-color);
}
#idno_form {
  .form-floating.is-invalid {
    #lblIdNo {
      top: -10px;
    }
    .invalid-feedback-inline {
      top: auto;
      bottom: -10px;
      text-align: center !important;
      padding-right: 0.75rem !important;
    }
  }
}
#idno_form {
  .form-floating.is-invalid {
    .form-control:focus ~ #lblIdNo {
      display: block;
      top: 0;
    }
    .form-control:focus ~ .invalid-feedback-inline {
      display: none;
    }
  }
}
@media (max-width: 767px) {
  #idno_form {
    .form-floating.is-invalid {
      .form-control.is-invalid {
        background-image: none;
      }
    }
  }
}

#toTop {
  display:none;
}

#myIdNoHeader {
  height: 150px;
  background: url('../media/images/header_schuh50.jpg') no-repeat left center scroll;
  background-size: 1306px 230px;

  h1 {
    color: $dark;
  }
}

#mapContainer {
  display: none;
  width: 100%;
  height: 50vh;
  margin:0;
  padding:0;
  border: 1px solid $dark;
  border-radius: 8px;
}

body.modal-open .background-container {
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}


/* background greeen */
.bg-green {
  background-color: rgba($green,.6);
}

.userIconCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
.userIcon {
  /*border-radius: 50%;*/
  overflow: hidden;
  width: 7rem;
  height: 7rem;
  background-size: cover;
  background-position: center;

  i {
    position:relative;
    top: -.25rem;
    left: -2.5rem;
  }
}

.userIconCenterSmall {
  display: inline-block;
  top: 13px;
  position: relative;
  margin-right: 4px;
  .userIconSmall{
    width: 2rem;
    height: 2rem;
  }
}
@media (max-width: 991.98px) {
  .modal-fullscreen-lg-down {
    width: 100vw;
    max-width: none;
    height: auto;
    margin: 0;
  }
}

.toast{
  --bs-toast-bg: rgba(255, 255, 255,1);
}

.header-form{
  .form-floating{
    input{
      &:focus{
        +label {
          color: #900 !important;
          transform: translateY(-0.8rem);
        }
      }

    }
  }
}
.bg-light-white{
  background: #ffffff;
}
/* reference-partner */
.reference-partner-col{
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    max-height: 90px;
  }
}

.references-col{
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-height: 120px;
  }
}

/* home */
.home-testimonial a {
  text-decoration: underline;
}

/* emblem datenschutz */
.emblem-datenschutzexperte.account {
  position: absolute;
  right: -184px;
}
.emblem-datenschutzexperte.footer {
  margin-top: -16px;
}
/*
@media (max-width: 575px) {
  .emblem-datenschutzexperte.footer {
    margin-top: 0;
    margin-left: -10px;
  }
}
*/

/* notfallpass form */
.pass-entry-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  legend {
    display: none;
  }
  .remove-item-widget {
    width: 8rem;
    background-color: $green;
    color: $white;
  }
  .remove-item-widget:hover {
    background-color: $white;
    color: $dark;
  }
}
.add-item-widget {
  background-color: $green;
  color: $white;
}
.pass-data {
  h4.sub-head {
    color: $white;
    font-size: 1rem;
  }
  h4.sub-head.small {
    font-size: 0.8rem;
  }
  .add-item-widget:hover {
    background-color: $white;
  }
}

/*
 * bootstrap select
 */
.form-floating {
 >.bootstrap-select {
    &.form-select {
      padding-top: 0;
      padding-right: 0;
      .dropdown-menu {
        left: -0.75rem !important;
        margin-top: 4px !important;
      }
    }

    >.dropdown-toggle {
      background-color: transparent;
      border: none;
      padding: 1.625rem var(--bs-btn-padding-x) 0 0;

      &:active {
        background-color: transparent;
      }

      &:focus {
        outline: none !important;
      }

      &:after {
        border: none;
      }
    }
  }
}
