@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "fonts";

/*
 * general
 */

/* background greeen */
.bg-green {
	background-color: $green;
	opacity: .6 !important;
	--bs-bg-opacity: .6 !important;
}

h1, h2, h3, h4, h5 {
	color: $green;
}

/* a */
a,
a:link,
a:hover,
a:active,
a:visited {
	color: $green;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/* button */
a.btn-outline-dark,
a.btn-outline-dark:link,
a.btn-outline-dark:visited,
a.btn-outline-dark:active {
	color: $dark;
	text-decoration: none;
}
a.btn-outline-dark:hover {
	color: $success;
	text-decoration: none;
}

/*
.form-control:focus{
	border:1px solid $green;
}
*/

/* navbar */
header nav {
	z-index:1021;
}

.navbar-header img {
	max-width: 186px;
	margin-left: 11px;
}

img.anniversary_5  {
	height: 61px !important;
}


/* carousel */
.carousel-caption {
  bottom: 4%;
}

img.ref-logo {
  -webkit-filter: grayscale(100%) brightness(2);
  -moz-filter: grayscale(100%) brightness(2);
  -ms-filter: grayscale(100%) brightness(2);
  -o-filter: grayscale(100%) brightness(2);
  filter: grayscale(100%) brightness(1);
	transition: filter .3s ease-in-out;
}
img.ref-logo:hover {
	filter: none;
}





/* footer */
footer a {
	text-decoration: none;
}
footer a:hover {
	text-decoration: underline;
}

img.socialmedia_icon {
  height: 45px;
  margin-right: 20px;
	margin-bottom: 20px;
}