@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~bootstrap-table";
@import "~leaflet";

@import "~placeholder-loading/src/scss/placeholder-loading";
@import "fonts";

/*
 * general
 */

/* background greeen */
.bg-green {
  background-color: rgba($green,.6);
}

h1, h2, h3, h4, h5 {
  color: $green;
}

/* a */
a,
a:link,
a:hover,
a:active,
a:visited {
  color: $green;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* button */
a.btn-outline-dark,
a.btn-outline-dark:link,
a.btn-outline-dark:visited,
a.btn-outline-dark:active {
  color: $dark;
  text-decoration: none;
}
a.btn-outline-dark:hover {
  color: $success;
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

/*
 * forms
 */
label.required::after {
	position: absolute;
	content: "*";
	vertical-align: middle;
	display: inline-block;
	font-family: sans-serif;
	font-size: 14px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-left: 2px;
	color: $danger;
}

label.invalid-feedback-inline {
  position: absolute !important;
  padding-right: 2rem !important;
  text-align: right !important;
  color: $danger;
}


/*
.form-control:focus{
  border:1px solid $green;
}
*/

/* navbar */
header nav {
  z-index:1021;
}

.navbar-header img {
  max-width: 186px;
  margin-left: 11px;
}

img.anniversary_5  {
  height: 61px !important;
}


/* carousel */
.carousel-caption {
  bottom: 4%;
}

img.ref-logo {
  -webkit-filter: grayscale(100%) brightness(2);
  -moz-filter: grayscale(100%) brightness(2);
  -ms-filter: grayscale(100%) brightness(2);
  -o-filter: grayscale(100%) brightness(2);
  filter: grayscale(100%) brightness(1);
  transition: filter .3s ease-in-out;
}
img.ref-logo:hover {
  filter: none;
}


/* tables */
.ph-item,
.ph-picture {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}


/* footer */
footer a {
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

img.socialmedia_icon {
  height: 45px;
  margin-right: 20px;
  margin-bottom: 20px;
}


/*
 * ids
 */

#toTop {
  display:none;
}

#myIdNoHeader {
  height: 150px;
  background: url('../media/images/header_schuh50.jpg') no-repeat left center scroll;
  background-size: 1306px 230px;

  h1 {
    color: $dark;
  }
}

#mapContainer {
  display: none;
  width: 100%;
  height: 50vh;
  margin:0;
  padding:0;
  border: 1px solid $dark;
  border-radius: 8px;
}

body.modal-open .background-container{
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}

.userIconCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
.userIcon {
  border-radius: 50%;
  overflow: hidden;
  width: 7rem;
  height: 7rem;
  background-size: cover;
  background-position: center;
}

.userIconCenterSmall {
  display: inline-block;
  top: 13px;
  position: relative;
  margin-right: 4px;
  .userIconSmall{
    width: 2rem;
    height: 2rem;
  }
}
@media (max-width: 991.98px) {
  .modal-fullscreen-lg-down {
    width: 100vw;
    max-width: none;
    height: auto;
    margin: 0;
  }
}

.toast{
  --bs-toast-bg: rgba(255, 255, 255,1);
}