@font-face {
    font-family: 'Michroma';
    src: url('../media/fonts/michroma-v16-latin-regular.eot');
    src: url('../media/fonts/michroma-v16-latin-regular.eot?#iefix') format('embedded-opentype'),url('../media/fonts/michroma-v16-latin-regular.woff') format('woff'),url('../media/fonts/michroma-v16-latin-regular.ttf') format('truetype');
}

/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../media/fonts/opensans/open-sans-v34-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../media/fonts/opensans/open-sans-v34-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../media/fonts/opensans/open-sans-v34-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../media/fonts/opensans/open-sans-v34-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../media/fonts/opensans/open-sans-v34-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../media/fonts/opensans/open-sans-v34-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-500 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../media/fonts/opensans/open-sans-v34-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../media/fonts/opensans/open-sans-v34-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../media/fonts/opensans/open-sans-v34-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../media/fonts/opensans/open-sans-v34-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../media/fonts/opensans/open-sans-v34-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../media/fonts/opensans/open-sans-v34-latin-500.svg#OpenSans') format('svg'); /* Legacy iOS */
  }

/* open-sans-700 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../media/fonts/opensans/open-sans-v34-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../media/fonts/opensans/open-sans-v34-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../media/fonts/opensans/open-sans-v34-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../media/fonts/opensans/open-sans-v34-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../media/fonts/opensans/open-sans-v34-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../media/fonts/opensans/open-sans-v34-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
  }


.orbitron-bold {
    font-family: 'Michroma', sans-serif;
    font-weight: 700;
}

.orbitron-medium {
    font-family: 'Michroma', sans-serif;
    font-weight: 500;
}

.orbitron-light {
    font-family: 'Michroma', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Michroma', sans-serif;
}


.michroma {
    font-family: 'Michroma', sans-serif;
    font-weight: 500;
}

.navbar-nav {
    font-family: 'Michroma', sans-serif;
    font-weight: 500;
}
