
$dark: #4f4f4f;
$green: #91b54d;

$primary: $green;

$navbar-dark-hover-color: $green;
$navbar-dark-active-color: $green;

$form-check-input-checked-color: $green;
$form-check-input-checked-border-color: $green;
$form-check-input-focus-border: $green;