
$dark: rgb(79, 79, 79);
$green: rgb(145, 181, 77);

$primary: $green;


$navbar-dark-hover-color: $green;
$navbar-dark-active-color: $green;


$form-check-input-checked-color: $green;
$form-check-input-checked-border-color: $green;
$form-check-input-focus-border: $green;