<p class="footer">
  <strong>Klara Buchner</strong><br />
  Customer Service<br />
  <br />
  <strong>ID-No.com GmbH</strong><br />
  Cassellastraße 30-32<br />
  D-60386 Frankfurt<br />
  <br />
  Phone: +49-69-94 14 3 88-22<br />
  Fax:  +49-69-94 14 3 88-29<br />
  E-Mail: <a href="mailto:service@id-no.com">Service@ID-No.com</a><br />
  Internet: <a href="https://www.ID-No.com">www.ID-No.com</a><br />
  <br />
  Commercial Register: Frankfurt. M. HRB 115072<br />
  Managing Director: Dr. Markus J. Krechting<br />
</p>